/* Base styling to reset some default browser settings */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4845F;
    padding: 10px 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav img {
    height: 80px;
    width: auto;
    margin-right: auto
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #F79D65;
}

/* Active state for a link (if needed) */
nav a.active {
    background-color: #e74c3c;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* This will set the text color. Change as needed. */
    font-size: 36px;
    text-align: center;
    width: 100%; /* To ensure it takes the full width of the viewport */
}

. centered-text  ,.h8{
    font-size: 15px;
}
.parallax , .background-image {
    opacity : 0.8;
}


.parallax {
    position: relative; /* This will ensure the absolute positioning of .centered-text is relative to this container */
}
